:root {
    --td-round: 8px;
    --over_lap: table-row;
    --onhover-accent: #dfdf9f;
}

* {
    margin: 0;
    padding: 0;
    border: none;
    font-family: Arial, 'Noto Sans';
}
  
body {
    font-size: 12px;
    background-color: #fefefe;
    height: 100vh;
    width: 100vw;
}

td {
    text-align: center;
    border-radius: var(--td-round);
    background-color: #eeeeee;  
}

ul {
    padding: 0px 20px 0px 20px;
    font-weight: bold;
}

li {
    cursor: grab;
}

.class_url{
    color: #000;
    text-decoration: none;
}

.class_url:hover {
    color: rgb(55, 120, 173);
    text-decoration: underline;
}

.table th {
    position: relative;
}

.schedule_tr {
    background-color: #e2e2e2;
    border: 2px solid #fefefe;
    height: 25px;
}

.schedule_th{
    border: 2px solid #fefefe;
    text-align: center;
}

.resizable {
    position: relative;
}

.resizer {
    /* Displayed at the right side of column */
    position: absolute;
    top: 0;
    height: 100%;
    right: -8px;
    width: 10px;
    cursor: col-resize;
    user-select: none;
    border-right: 3px solid #d1d1d1;
    margin-left: 0px;
    margin-right: 8px;
    border-radius: 1px;
    opacity: 0;
}

.cell_teacher {
    text-align: left;
}

.classes_row {
    background-color: #efefef;
    display: table-row;
    z-index: 1;
    padding-top: 10px;
    font-weight: bold;
    width: 100%;
}

.classes_row.onhover {
    background-color: var(--onhover-accent);
    display: table-row;
    z-index: 3;
    padding-top: 10px;
    font-weight: bold;
    width: 100%;
    transition: 0.1s;
}

.classes_row.overlapping{
    background-color: #f7f7f7;
    opacity: 60%;
    display: var(--over_lap);
    z-index: 1;
}

.comp_container{
    font-weight: normal;
}

.sortable_container {
    font-weight: normal;
}

.search_container{
    padding-top: 10px;
}

.list_lead_container{
    display: table-row;
    position: sticky;
    height: 50px;
    top: 0;
    z-index: 1;
    background-color: #ffffffcf;
    backdrop-filter: blur(8px);
    
    box-shadow: 0px 10px 33px -15px rgba(0,0,0,0.13);
}

.list_head{
    display: table-cell;
    text-align: center;
    font-weight: bold;
    vertical-align: middle;
}
.classes_cell{
    display: table-cell;
}

.classes_row:hover,
.classes_row_hover {
    background-color: #e2e9d7;
}

.resizer:hover,
.resizing {
    border-right: 3px solid rgb(199, 223, 226);
    opacity: 100%;
}

.addedclass {
    background-color: #ececcd;
    height: 100%;
    font-size: 13px;
    text-align: center;
    position: relative;
    vertical-align: top;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    border-radius: var(--td-round);
    padding: 8px;
    transition: 0.1s;
}

.addedclass.onhover {
    background-color: var(--onhover-accent);
    height: 100%;
    font-size: 13px;
    text-align: center;
    position: relative;
    vertical-align: top;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    border-radius: var(--td-round);
    padding: 8px;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    transition: 0.1s;
}

.addedclass.pending {
    background-color: #cacef3;
    opacity: 70%;
    height: 100%;
    font-size: 13px;
    text-align: center;
    position: relative;
    vertical-align: top;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    border-radius: var(--td-round);
    padding: 8px;
}


.filter_content{
    display: none;
    position: relative;
    top: 5px;
    margin-bottom: 10px;
    height: auto;
    max-height: 800%;
    width: 90%;
    border-radius: 10px;
    background-color: #eaeaea;
    backdrop-filter: blur(5px);
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    text-align: center;
    overflow-y: auto;
    overflow-x: hidden;

}

.function_window_content{
    display: inline-block;
    position: relative;
    top: 5px;
    padding-top: 10px;
    margin-bottom: 10px;
    height: auto;
    max-height: 800%;
    width: 100%;
    border-radius: 10px;
    background-color: #e0e8f0;
    backdrop-filter: blur(5px);
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    text-align: center;
    overflow-y: auto;
    overflow-x: hidden;
    transition: 0.5s;
}


.filter_content.button{
    text-align: center;
}

.select_filter_content{
    position: absolute;
    right: 23%;
    height: 200px;
    width: 150px;
    background-color: #fafafafa;
    backdrop-filter: blur(5px);
    margin: 3px;
    padding: 5px;
    border-radius: 10px;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    text-align: left;
    font-size: 18px;
    overflow: auto;
}

.add_filter_btn{
    background-color: rgba(0,0,0,0);
    padding-top: 0px;
    padding-bottom: 0px;
    padding-left: 6px;
    padding-right: 6px;
    margin: 2px;
    border-radius: 100px;
    transition: 0.1s;
}
.add_filter_btn:hover{
    background-color: rgba(212, 212, 212, 0.5);
    transition: 0.1s;
}

.Filter_row{
    position: relative;
    display: flex;
    padding: 5px 10px 5px 15px;
    align-items: center;
    justify-content: space-between;
}

.filter_select_btn{
    background-color: #ffffff00;
    border-radius: 5px;
}

.Filter_del_btn{
    display: flex;
    padding: 0px;
    right: 0px;
}

.filter_select_btn:hover{
    background-color: #d4d4d49f;
}

.Filter_lable{
    font-size: 16px;
    padding: 5px 15px 5px 0px;
    display: inline-block;
}

.Title_lable{
    font-size: 16px;
    padding: 10px 0px 5px 28px;
    display: block;
}

.chart_container{
    padding: 5px;
}

.function_container{
    padding: 5px;
}

.Filter_logic{
    display: inline-block;
    padding-right: 15px;
    width: 105px;
}

.btn-white{
    --bs-btn-color: #000;
    --bs-btn-bg: #ffffffff;
    --bs-btn-border-color: #ced4da;
    --bs-btn-hover-color: #000;
    --bs-btn-hover-bg: #d3d4d5;
    --bs-btn-hover-border-color: #c6c7c8;
    --bs-btn-focus-shadow-rgb: 211,212,213;
    --bs-btn-active-color: #000;
    --bs-btn-active-bg: #c6c7c8;
    --bs-btn-active-border-color: #babbbc;
    --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
    --bs-btn-disabled-color: #000;
    --bs-btn-disabled-bg: #f8f9fa;
    --bs-btn-disabled-border-color: #f8f9fa;
}

.btn-transparent{
    --bs-btn-bg: #ffffff00;
    --bs-btn-active-border-color: #ffffff00;
}

.accordion {
    --bs-accordion-bg: #fff;
}

.btn-light{
    --bs-btn-bg: #e0e8f0;
}

.btn-group{
    display: block !important;
}

/* width */
::-webkit-scrollbar {
    width: 8px;
}
  
/* Track */
::-webkit-scrollbar-track {
    background: #efefef;
}
  
/* Handle */
::-webkit-scrollbar-thumb {
    background: rgb(167, 192, 192);
    border-radius: 10px;
}
  
/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: rgb(139, 157, 160);
}


.ui-state-default{
    list-style-type: none;
    font-size: 16px;
    margin: 5px;
    border-radius: 30px;
    background-color: #efefef;
    padding: 10px 0px 10px 10px;

}

.ui-state-default:hover{
    list-style-type: none;
    font-size: 16px;
    margin: 5px;
    border-radius: 30px;
    background-color: #e2e9d7;
    padding: 10px 0px 10px 10px;
}

.ui-state-highlight{
    list-style-type: none;
    font-size: 20px;
    margin: 10px;
    border-radius: 30px;
    background-color: #d1e3e7;
    padding: 10px;
    border-style: none;
}

.sortable_cat{
    display: inline-block;
}

.sortable_row{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding:0px 10px 0px 10px;

}

.dropdown_content{
    display: none;
    z-index: 3;
    position: fixed;
    height: 200px;
    width: 150px;
    background-color: #fafafafa;
    backdrop-filter: blur(5px);
    padding: 5px;
    border-radius: 10px;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    text-align: left;
    font-size: 18px;
    overflow: auto;
}


.ui-state-disabled{
    opacity: 80%;
}
.sortable_select_btn{
    background-color: #ffffff00;
    border-radius: 5px;
    padding-left: 8px;
}
.sortable_select_btn:hover{
    background-color: #d4d4d49f;
}